<!--自定义样式----开始-->
<style type="text/css">
    .form-group {
        width: 50%;
        float: left;
    }

    .input-group {
        width: 100%;
    }

    .required {
        color: red;
        font-size: 18px;
    }

    .edui-default .edui-editor-toolbarboxinner {
        background: #fff;
    }

    .form-control[readonly] {
        background-color: #eeeeee;
        opacity: 1;
        cursor: pointer;
    }

    .form-control[d-format] {
        background-color: #ffffff;
    }

    .form-horizontal .control-label{
        padding-top: 0px !important;
    }

    .control-label {
        height: 35px;
        line-height: 35px;
        overflow: hidden;
        text-align: right;
    }

    .decimalPoint {
        font-size: 12px;
        font-weight: normal;
    }


    .fa:hover {
        cursor: pointer;
    }

    .fa-question:hover > .form-tips {
        display: block;
    }

    .form-tips {
        display: none;
        text-align: left;
        position: absolute;
        width: 200px;
        background: #fff;
        z-index: 99;
        border: 1px #cdcdcd solid;
        top: 33px;
        right: 0;
        font-size: 12px;
        padding: 10px 5px;
        white-space: initial;
        line-height: 20px;
        color: #77b0e2;
    }

    .box-tips {
        text-align: left;
        background: #fff;
        font-size: 12px;
        padding: 10px 5px;
        line-height: 20px;
        color: #77b0e2;
    }

    .new-line-box {
        width: 100%;
        float: left;
    }
</style>
<!--自定义样式---结束-->
<div class="form-horizontal" id="form">
    <div class="box-body">
        <%
        for(item in table.fields){
        //表单显示
        if(item.fromDisplay==true && !onlineForm.fieldIsHidden(item.id,data.formElementModel)){
        //是逻辑字段
        if(item.logic==true){
        %>
        <div class="form-group clearfix">
            <label class="col-sm-4 control-label">${item.fromLable}：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text" readonly v-model="formData.${item.fieldName}"
                           class="form-control" disabled="disabled"
                           maxlength="${item.length}" title="${item.fromLableTips}" readonly>
                </div>
            </div>
        </div>
        <%}else{if(item.dictSysCode!=''){%>
        <!--字典-->
        <div class="form-group clearfix">
            <label class="col-sm-4 control-label">
                <span class="required" v-if="!${item.nullValue}">*</span>
                ${item.fromLable}：
            </label>
            <div class="col-sm-8 ">
                <div class="input-group">
                    ${dict(item.dictSysCode,item.multipleDict,"END","@change='dictChange("+item.id+",\"formData."+item.fieldName+"\")'","v-model.number=formData."+item.fieldName,"disabled='disabled'")}
                </div>
            </div>
        </div>
        <%}else if(item.fieldType==2&&(item.controlType==5||item.controlType==6)){%>
        <!--日期-->
        <div class="form-group clearfix">
            <label class="col-sm-4 control-label">
                <span class="required" v-if="!${item.nullValue}">*</span>
                ${item.fromLable}：
            </label>
            <div class="col-sm-8">
                <div class="input-group">
                    <%if(item.controlType==5){%>
                    <input type="text" v-model="formData.${item.fieldName}" class="form-control"
                           d-format="yyyy-MM-dd" d-name="${item.fieldName}" d-type="date"
                           placeholder="请选择日期"
                           disabled="disabled"
                           readonly title="${item.fromLableTips}">
                    <%}else{%>
                    <input type="text" v-model="formData.${item.fieldName}" class="form-control"
                           d-format="yyyy-MM-dd HH:mm:ss" d-type="datetime" placeholder="请选择日期时间"
                           disabled="disabled"
                           d-name="${item.fieldName}" readonly title="${item.fromLableTips}">
                    <%}%>
                </div>
            </div>
        </div>
        <%}else if(item.controlType==2){%>
        <div class="form-group clearfix">
            <label class="col-sm-4 control-label">
                <span class="required" v-if="!${item.nullValue}">*</span>
                ${item.fromLable}：
            </label>
            <div class="col-sm-8">
                <div class="input-group">
                    <textarea  v-model="formData.${item.fieldName}" class="form-control" style="resize: vertical;"
                               disabled="disabled"
                               maxlength="${item.length}" title="${item.fromLableTips}"></textarea>
                </div>
            </div>
        </div>
        <%}else if(item.controlType==3){%>
        <!--UE文本框-->
        <div class="new-line-box clearfix">
            <div class="form-group clearfix">
                <label class="col-sm-4 control-label">
                    <span class="required" v-if="!${item.nullValue}">*</span>
                    ${item.fromLable}：
                </label>
            </div>
            <div class="form-group clearfix" style="width: 100%">
                <div class="col-sm-12" style="min-height: 300px">
                                <textarea ueditor="true" v-model="formData.${item.fieldName}" id="${item.fieldName}"
                                          disabled="disabled"
                                          d-name="${item.fieldName}"></textarea>
                    <%if(strutil.length(item.fromLableTips)>0){%>
                    <div class="box-tips">填写提示：${item.fromLableTips}</div>
                    <%}%>
                </div>
            </div>
        </div>
        <%}else if(item.controlType==4){%>
        <!--密码框-->
        <div class="form-group clearfix">
            <label class="col-sm-4 control-label">
                <span class="required" v-if="!${item.nullValue}">*</span>
                ${item.fromLable}：
            </label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="password" v-model="formData.${item.fieldName}"
                           disabled="disabled"
                           title="${item.fromLableTips}" class="form-control">
                </div>
            </div>
        </div>
        <%}else if(item.controlType==7){%>
        <!--附件-->
        <div class="form-group clearfix">
            <label class="col-sm-4 control-label">
                <span class="required" v-if="!${item.nullValue}">*</span>
                ${item.fromLable}：
            </label>
            <div class="col-sm-8">
                <div class="form-control" style="border: none;">
            <!--        <div class="layui-btn layui-btn-xs layui-btn-normal"
                         @click="handleAddAttach('${item.fieldName}','${item.controlType}','${item.fieldType}','${item.attachSuffix}','datatable')">
                        添加
                    </div>-->
                    <div class="layui-btn layui-btn-xs layui-btn-normal"
                         @click="handleViewAttach('${item.fieldName}')">查看({{
                        (formData.${item.fieldName}+"").fileCount() }})
                    </div>
                </div>
            </div>
        </div>
        <%}else if(item.controlType==8){%>
        <!--图片-->
        <div class="form-group clearfix">
            <label class="col-sm-4 control-label">
                <span class="required" v-if="!${item.nullValue}">*</span>
                ${item.fromLable}：
            </label>
            <div class="col-sm-8">
                <div class="form-control" style="border: none;">
             <!--       <div class="layui-btn layui-btn-xs layui-btn-normal"
                         @click="handleAddAttach('${item.fieldName}','${item.controlType}','${item.fieldType}','${item.attachSuffix}','datatable')">
                        添加
                    </div>-->
                    <div class="layui-btn layui-btn-xs layui-btn-normal"
                         @click="handleViewAttach('${item.fieldName}')">查看({{
                        (formData.${item.fieldName}+"").fileCount() }})
                    </div>
                </div>
            </div>
        </div>
        <%}else if(item.fieldType==1&&item.dictDepend==0){%>
        <div class="form-group clearfix">
            <label class="col-sm-4 control-label">
                <span class="required" v-if="!${item.nullValue}">*</span>
                ${item.fromLable}
                ${item.decimalPoint>0?:'<span class="decimalPoint">('+item.decimalPoint+'位小数)</span>'}：
            </label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="number" v-model.number="formData.${item.fieldName}"
                           disabled="disabled"
                           class="form-control" title="${item.fromLableTips}">
                </div>
            </div>
        </div>
        <%}else if(item.dictDepend>0){%>
        <!--是字典依赖-->
        <div class="form-group clearfix">
            <label class="col-sm-4 control-label">
                ${item.fromLable}：
            </label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text" v-model="formData.${item.fieldName}" class="form-control"
                           disabled="disabled"
                           maxlength="${item.length}" title="${item.fromLableTips}" readonly>
                </div>
            </div>
        </div>
        <%}else{%>
        <div class="form-group clearfix">
            <label class="col-sm-4 control-label">
                <span class="required" v-if="!${item.nullValue}">*</span>
                ${item.fromLable}：
            </label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text" v-model="formData.${item.fieldName}" class="form-control"
                           disabled="disabled"
                           maxlength="${item.length}" title="${item.fromLableTips}">
                </div>
            </div>
        </div>
        <%}%>
        <%}%>
        <%}}%>
    </div>
</div>
<script id="formDataScript" type="text/javascript">
    var tableId = "${table.id!}";
    var readonly = "true" == "${data.status=='VIEW'}";
    var formData={id:'${data.flow.businessId}', userid:"${userid!}",
    <%for(item in table.fields){%>
        ${item.fieldName}:"",//${item.name}
            <%}%>
    };
</script>
<script type="text/javascript" charset="utf-8"
        src="${base}/static/plugins/ueditor/ueditor.config.js?_=${productVersion}"></script>
<script type="text/javascript" charset="utf-8"
        src="${base}/static/plugins/ueditor/ueditor.all.js?_=${productVersion}"></script>
<script type="text/javascript" charset="utf-8"
        src="${base}/static/plugins/ueditor/lang/zh-cn/zh-cn.js?_=${productVersion}"></script>
<script type="text/javascript" charset="utf-8"
        src="${base}/static/modules/onlineform/onlineform.js?_=${productVersion}"></script>
