<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>APP客户端下载</title>
    <style>
        .content {
            text-align: center;
            padding: 10px;
            margin-top: 15%;
        }

        .android, .ios {
            height: 100px;
        }
    </style>
</head>
<body>
<div class="content">
    <div class="android">
        <a href="${base}/static/APP.apk">android客户端下载</a>
    </div>
    <div class="ios">
        <a href="${base}/static/ios.ipa">IOS越狱版客户端下载</a>
    </div>
</div>
</body>
</html>